body {
    font-family: 'Open Sans', arial,sans-serif;
    padding: 0 1vw 0 1vw;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .column-user {
    flex: 5 0 0;
    padding: 0 3vw 0 3vw;
  }

  .column-btn {
    flex: 1 0 0;
    padding: 0 3vw 0 3vw;
  }
  
.btn {
    margin: 3px 10vw 3px 10vw; 
}

.error {
    padding: 1em 2em;
    font-size: 1em;
    letter-spacing: 0.1em;
    background-color: red;
    color: white;
    margin-top: 1em;
}
